.side-drawer{
    height: 100vh;
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    max-width: 400px;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
    z-index: 30;
}