.container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #999999;
}

.title{
    color: black;
    font-size: 3rem;
    text-decoration: none;
    margin: 0;
    justify-content: space-between;
}


.nav-list{
    display: flex;
    list-style-type: none;
    margin: 0;
    justify-content: space-between;
}

.nav-item{
    color: #999999;
    font-size: .9rem;
    margin-right: 1.3rem;
    margin-bottom: 0;
    text-decoration: none;
    
}

.nav-item:hover{
    color: #666666;
}

.active-nav-item{
    color: #333333;
}