.container {
    margin: 0 auto;
    max-width: 80%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    position: relative;
}

.content {
    background: #0766e2;
}

.title{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    text-decoration: none;
    margin: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    
}

.nav-list{
    display: flex;
    list-style-type: none;
    margin: 0;
    
}

.nav-item{
    color: #999999;
    font-size: .9rem;
    margin-right: 1.3rem;
    margin-bottom: 0;
    text-decoration: none;
    
}

.nav-item:hover{
    color: #666666;
}

.active-nav-item{
    color: #333333;
}