.container {
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    align-items: center;
    background: #5F29C7;
}

.content {
    padding: 18vh 0 10vh 0;
}

.title{
    color: rgb(255, 255, 255);
    line-height: 10px;
    text-align: center;
    visibility: hidden;
}

.mobile-title{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
    
}


.header{
    font-size: 2.5rem;
}

.subheader{
    font-size: 1.5rem;
}

.holder{
    display: flex;
    margin: auto;
}

.image{
    max-height: 60vh;
}
