.container {
    
    margin: auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1fr,1fr)); /* see notes below */
    grid-gap: 1em;
    grid-auto-flow: column;
    align-items: center;
    min-height: 90vh;
    background: #5F29C7;
}

.content {

}

.title{
    color: rgb(255, 255, 255);
    margin:auto 0;
}

.header{
    margin: auto;
}

.subheader{
    font-size: 1.5rem;
}

.holder{
    display: flex;
    margin: auto;
}

.image{
    height: 100%;
}

@media (min-width: 769px){
    
    .h1{
        font-size: 1rem;
    }
}
