.container{
    display: flex;

}

.content{
    width: 50%;
    padding-right: 2rem;
}

.holder{
    width: 50%;
    display: flex;
    margin: auto;
}
.image{
    padding-left: 2rem;
    margin:auto;
}