.container {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    display: flex;
    background: #0766e2;
}

.title{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    text-decoration: none;
    margin: 0;
}

.nav-list{
    display: flex;
    list-style-type: none;
    margin: 0;
    
}

.nav-item{
    color: #f7f7f7;
    font-size: .9rem;
    margin-right: 1.3rem;
    margin-bottom: 0;
    text-decoration: none;
    
}

.nav-item:hover{
    color: #cacaca;
}

.active-nav-item{
    color: #8299bb;
}