.container{
    display: grid;
    padding: 2rem;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-content: center;
    margin: auto;
    padding: 0 0 3em 0;
}

.icon{
    margin: auto;
}

.header{
    margin: 0 0 1rem 0 ;
    text-align: center;
}
.text{
    margin: auto;
    width: 100%;
    text-align: center;
}