.container{
    display: grid;
    padding-top: 2rem;

}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    justify-content: space-between;
    align-content: center;
    margin: auto;
    padding: 0 0 3em 0;
}

.icon{
    margin: auto;
}

.header{
    margin: 1rem 0 1rem 0 ;
    text-align: center;
}
.text{
    margin: auto;
    width: 100%;
    text-align: center;
}

@media (max-width: 769px){
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-gap: 2rem;
        justify-content: space-between;
        align-content: center;
        margin: auto;
        padding: 0 3em 3em 3em;
    }
}