.container {
    width: 100%;
    // padding: 1rem;
    // margin: 0 auto;
    // // list-style: none;

    // align-items: center;
    // height: 100px;
    // width: 100%;
    position: absolute;
    z-index: 10;
    top: 0rem;
    
    // right: 0;
}

.content{
    display: flex;
    align-items: center;
    width: 80%;
    padding: 20px 0 0 0;
    margin: auto;
}



.links ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;

}

.links li {
    margin-right: 1.3rem;
}

.logo{
    width: 50px;
    height: 100%;
    // display: flex;
    // align-items: center;
    // margin: 0;
    // justify-content: flex-start;
}

.spacer{
    flex: 1;
}

.nav{
        display: flex;
  justify-content: flex-end;
}

.title{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    text-decoration: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.nav-list{
    display: flex;
    list-style-type: none;
    margin: 0;
    justify-content: flex-end;
    
}

.nav-item{
    color: #f7f7f7;
    font-size: 1rem;
    margin-right: 1.3rem;
    margin-bottom: 0;
    text-decoration: none;
    
}

.nav-item:hover{
    color: #cacaca;
}

.active-nav-item{
    color: #8299bb;
}


.actionButton{
    background: white;
    border: none;
    border-radius: 3em;
    display: flex;
    margin: 0 0 0 5%;
    align-content: center;
    align-items: center;
    font-size: 1em;
    padding: .7em 2em;
    width: auto;
    text-decoration: none;
}

.actionButton:hover{
    background: rgb(144, 93, 185);

}

@media (max-width: 769px){
    .links{
        display: none;
    }
}

@media (min-width: 769px){
    .hamburger-toggle{
        display: none;
    }
}